// footer style
.footer{
    background: #30478c;
    color : $color;
    width : 100%;
    padding : 10px;
    z-index: 100000;
    border-top : $border_bottom;
    position: relative;
    z-index : 2;
}